.BoxSaudacao{
    background: rgb(22, 105, 36);
    height: 30rem;
    width: 30rem;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    color: azure;
}

.BoxSaudacaoFalse{
    background: rgb(146, 1, 1);
    height: 30rem;
    width: 30rem;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    color: azure;
}

h1{
    font-size: 45px;
    margin: 2.5rem 0;
}

button{
    padding: 0.5rem;
    margin: 2rem 0 0 0;
    font-size: 22px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 8rem;
}